/* header */
.header-top{
    background-color: #000000;
}

.sony-logo{
    width: 80px;
}

.header-bottom{
    font-size: 14px;
}

.ps-logo-header{
    left: 0;
    top: 6px;
}

.my-playstation ul li{
    list-style: none;
}

.my-playstation ul li a{
    color: rgba(0,0,0,.55);
}

.login{
    display: inline-block;
    padding: 5px 10px;
    background-color: #202020;
}

/* jumbotron */
.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.jumbotron-content{
    left: 5%;
    top: 57%;
}

.jumbotron-content a,
.jumbotron-2-content a{
    display: inline-block;
    padding: 8px 20px;
    background-color: #cd3d0e;
    border: 2px solid rgba(0, 0, 0, 0.8);
}

.jumbotron-content a:hover,
.jumbotron-2-content a:hover{
    box-shadow: 0 0 0 2px #cd3d0e;
}

/* game */
.game-box{
    height: 120px;
}

.game-box-img:hover{
    box-shadow: 0 0 0 5px #00439C;
    bottom: 10px;
}

.game-box-img{
    width: 100%;
    height: 120px;
    border-radius: 20px;
    border: 2px solid white;
    position: relative;
    transition: all 1.5s ease-out;
}

/* console */
.console-img{
    width: 70%;
    height: 70%;
}

/* cross-selling */
.cross-selling-item{
    height: 300px;
}

.card{
    width: 100%;
}

.card p{
    font-size: 13px;
}

/* jumbotron 2 */
.jumbotron-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

.jumbotron-2-content{
    left: 5%;
    top: 25%;
}

.it-takes-two-logo{
    width: 120px;
    margin-bottom: 40px;
}

/* news */
.news{
    background-color: #202020;
}

.card-news{
    background-color: #202020;
    border-radius: 10px;
    border: none;
}

.card-title{
    font-size: 14px;
}

/* plus */
.plus{
    background-color: #bebcbb;
    height: 400px;
}

.ps-plus-logo,
.ps-now-logo{
    width: 250px;
    margin-bottom: 40px;
}

.plus-text{
    left: 5%;
    top: 20%;
}

.plus-text a,
.explore-text a{
    display: inline-block;
    padding: 8px 20px;
    background-color: white;
    margin-top: 40px;
}

.plus-text a{
    border: 2px solid #bebcbb;
}

.plus-text a:hover,
.explore-text a:hover{
    box-shadow: 0 0 0 2px white;
}

.april-monthly-games{
    height: 400px;
    right: 0;
    bottom: 0;
    top: 0;
}

/* discount */
.discount-box{
    height: 250px;
    width: 250px;
}

.discount-img{
    width: 100%;
}

/* explore */
.explore{
    background-color: #091332;
    height: 400px;
}

.explore-text{
    left: 5%;
    top: 10%;
}

.explore-text a{
    color: #202020;
    border: 2px solid #091332;
}

.ps-now-april{
    height: 400px;
    right: 5%;
    bottom: 0;
    top: 0;
}

/* social media */
.social-icon{
    width: 90%;
}

/* footer */
footer{
    background-color: #00439C;
}

.play-station-logo-footer,
.sie-logo{
    width: 100px;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    color: white;
}

footer ul li a:hover{
    color: white;
}