/* header */
.header-top{
    background-color: #000000;
    height: 40px;
}

.header-bottom{
    background-color: yellow;
    height: 80px;
}

/* jumbotron */
.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 600px;
    position: relative;
}

.jumbotron-content{
    color: white;
    position: absolute;
    left: 10%;
    top: 57%;
}

.jumbotron-content a,
.jumbotron-2-content a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #cd3d0e;
    color: white;
    text-decoration: none;
}

/* product */
/* game */
.blue-text{
    color: #0070d1;
}

.game-box{
    height: 120px;
}

.game-box-img{
    width: 100%;
    height: 120px;
    border-radius: 20px;
}

/* console */
.console-img{
    width: 70%;
    height: 70%;
}

/* cross-selling */
.cross-selling-item{
    height: 300px;
}

.card{
    width: 100%;
}

.card p{
    font-size: 13px;
}

/* jumbotron 2 */
.jumbotron-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    position: relative;
}

.jumbotron-2-content{
    color: white;
    position: absolute;
    left: 10%;
    top: 25%;
}

.it-takes-two-logo{
    width: 120px;
    margin-bottom: 40px;
}

/* news */
.news{
    background-color: #202020;
}

.news-text{
    color: white;
}

.card-news{
    background-color: #202020;
    color: white;
    border-radius: 10px;
}

.card-title{
    font-size: 14px;
}

/* plus */
.plus{
    background-color: #bebcbb;
    height: 400px;
    position: relative;
}

.ps-plus-logo{
    width: 250px;
    margin-bottom: 40px;
}

.plus-text{
    position: absolute;
    left: 5%;
    top: 30%;
}

.plus-text a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
}

.april-monthly-games{
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;

}

/* discount */
.discount-box{
    background-color: red;
    height: 250px;
    width: 250px;
    border: 1px solid black;
}

/* explore */
.explore{
    background-color: #091332;
    height: 400px;
}

/* social media */
.social-color{
    background-color: slateblue;
    height: 400px;
}

/* footer */
footer{
    background-color: #00439C;
}

.footer-color{
    background-color: springgreen;
    height: 600px;
}